.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.col {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center; /* Alineación horizontal centrada */
    align-items: center; /* Alineación vertical centrada */
}

.col:first-child {
    flex: 0.5; /* Ajusta el ancho del primer elemento (ID) */
}

.img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}