/* Estilos para InsumoFormulario */

/* Modal overlay */
.modal {
    display: block;
    position: fixed;
    z-index: 1050; /* Asegúrate de que el z-index sea superior al z-index de otros componentes */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Modal content */
.modal-content {
    background-color: #f8f2ab;
    margin: 5% auto; /* Centramos el modal */
    padding: 20px;
    border: 1px solid #e35115;;
    width: 90%; /* Ajusta el ancho del modal según sea necesario */
    max-width: 800px; /* Limita el ancho máximo */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
}
.modal-title {
    font-family: 'Broadway';
    font-size: 2rem;
    color: #c93232;
    /* Otros estilos según sea necesario */
  }

/* Optional: Fade in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal {
    animation: fadeIn 0.3s;
}

/* Estilo para el formulario dentro del modal */
.modal-body {
    max-height: calc(100vh - 250px); /* Ajusta la altura máxima del cuerpo del modal */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si el contenido es más largo que el modal */
}

.modal-header {
    border-bottom-color: #e35115;
}

/* Opcional: Estilo para los botones del modal */
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-color: #e35115;
}

.modal-footer .btn {
    padding: 10px 20px;
}

/* Estilo para el modal de agregar imagen */
.agregar-imagen-modal {
    z-index: 1060; /* Asegúrate de que el z-index sea superior al modal principal */
}

.btn-Cancelar {
    color: #f8efc8;
    background-color: #c93232; 
    border: #f8efc8;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    /* Otros estilos... */
}

.btn-Cancelar:hover {
    background-color: #740e0e;
}

.btn-Guardar {
    color: #f8efc8;
    background-color: #e38c15; 
    border:#f8efc8;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    /* Otros estilos... */
}

.btn-Guardar:hover {
    background-color: #aa6a10;
}

/* Labels */
.form-label {
    font-family: 'Broadway'; /* Cambia la fuente */
    color: #740e0e; /* Cambia el color del texto */
    font-size: 24px; /* Tamaño de fuente */
}

/* Campos de inputs */
.form-control {
    background-color: #f8f3df;
    border-color: #e35115;
}

.form-control:focus{
    background-color: #f8f3df;
    border-color: #e35115;
}

input[type="text"].form-control {
    background-color: #f8f3df;
    border-color: #e35115;
}

.form-select {
    background-color: #f8f3df;
    border-color: #e35115;
}

.form-select:focus {
    background-color: #f8f3df;
    border-color: #e35115;
}


.form-check-input {
    background-color: #f8f3df;
    border-color: #aa6a10;
}

.form-check-input:focus {
    background-color: #f8f3df;
    border-color: #aa6a10;
}

.form-check-input:checked {
    background-color: #e38c15;
    border-color: #aa6a10;
}

.img {
    margin-bottom: 15px;
    margin-top: 15;
}

.selected-image img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}