.report-button {
  background-color: #d21919;
  color: white;
  transition: background-color 0.3s ease;
}

.report-button.excel {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.report-button.graph {
  background-color: #9c27b0;
  color: white;
  transition: background-color 0.3s ease;
}

.report-button:hover {
  background-color: #1565c0;
}

.report-button.excel:hover {
  background-color: #388e3c;
}

.report-button.graph:hover {
  background-color: #7b1fa2;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
}
